body{
    background-color: light grey
    background-image: url('static/assets/vehicle7.jpg')"
}
#login-form {
    margin-top: 25px;
}

.login-page-form {
    max-width: 480px;
}

.page-form {
     max-width: 480px;
}
#input-user{
    max-width: 250px;
}

.img {
    vertical-align: middle;
    max-width: 1600px;
    border-style: none;
}

/* Only for snippet */
.double-nav .breadcrumb-dn {
  color: #fff;
}
.clsImg{
    max-width:100%;
    height:auto;
}

/* Login tags */
#cover {
    background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}
